@import '../../sass/variables'; 

.meeting {
    display: flex;
    padding: 2.5vmin;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;

    &__label {
        font: .7rem $mainFont;
        text-transform: uppercase;
    }

    &__category {
        text-transform: none;
    }

    &__gameType {
        margin-top: 2vmin;
        font: .7rem $mainFont;
        color: $green;
    }
}