:host {
    height: 100%;
    overflow: auto;
}

.meetingList {
    &__item {
        margin-top: 1.4vmin;
        display: block;

        &:first-child {
            margin-top: 0;
        }
    }
}